<form name="survey-form" action="/" method="POST">
    ${classInfoData.map(entry => {
        return `<p>
                    ${entry.topic_name} - I am <strong>${entry.status_title}</strong> at ${entry.topic_name}
                    <select name="${entry.topic_name}-select">
                    ${topicStatusData.map(status => `
                        <option value="${status.id}">${status.status_title}</option>
                    `).join('')}
                    </select>
                    <button type="submit">Rank Topic</button>
                </p>`
    }).join('')}
</form>